button.svelte-ydqki{border:3px solid black;color:inherit;font-family:inherit;padding:1rem 3rem;background:transparent}#hero-intro.svelte-ydqki{font-family:monospace;font-size:2rem;font-weight:bolder}
